hr {color: sienna;font-style:corbel}

h1 {
	color: #9966FF;
	
	background-color: #47476B;
	filter:alpha(opacity=10);
	opacity:1;
	background-image: url("images/congruent_outline.png");
	background-repeat: repeat-y;
	background-position: right bottom;
	
	font-family: monospace;
	font-variant: small-caps;
	font-size: 72px;
}

h2 {
	color: #009999;  // teal
	background-color: #47476B;
	background-image: url("images/congruent_outline.png");
	background-repeat: repeat-y;
	background-position: right bottom;

	font-family: monospace;
	font-variant: small-caps;
	font-size: 72px;
}

p {
	color: #9966FF;
	margin-left: 20px;
}

body {

}